.form{
    padding-top: 5rem;
    align-items: center;
    display: flex;
    width: 50vw;
    flex-direction: column;
    margin: 0 auto;
}

.title{
    text-align: center;
}

.productsSection{
    margin: 1rem 3rem;
}

.imageProduct{
    height: auto;
    width: 9vw;
}

.rowProduct{
    width: 10vw;
}